<div>
    <p>Name: {{todo.name}}</p>
    <p>Description: {{todo.description}}</p>
    <a href="/todo/{{todo._id}}/edit">
        <button type="button" class="btn btn-dark">Edit</button>
    </a>
    
    <a href="/todo/{{todo._id}}/delete">
        <button type="button" class="btn btn-dark">Delete</button>
    </a>
</div>